.characters {
  display: grid;
  row-gap: 16px;
  padding-block: 16px;

}

.characters__list_image {
  margin: 0 auto;
}

.characters__body {
  display: grid;
  row-gap: 16px;

}

.characters__list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
	justify-content: center;
}
