.loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loader__image {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader__text {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
