.characterCard {
  position: relative;

  display: flex;
  column-gap: 13px;
  max-width: 508px;
  width: 100%;
  padding: 7px;
  box-shadow: 1px 1px 4px #00000040;
  border-radius: 6px;

  &__imageWrapper {
    width: 240px;
    height: 234px;
    overflow: hidden;
    border-radius: 6px;

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__body {
    display: grid;
    row-gap: 5px;
    min-height: 40px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 240px;
    align-items: center;
  }

  &__name {
    min-height: 30px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    transition: 0.2s all ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &-inner {
      max-height: 35px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.15px;
    }

    &-error {
      min-height: 10px;
      font-size: 10px;
      color: rgb(163, 15, 15);
    }

    &:hover {
      color: green;
    }
  }

  &__actions {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
  }

  &_edit .characterCard__actions {
    opacity: 1;
    visibility: visible;
  }

  &:hover .characterCard__actions {
    opacity: 1;
    visibility: visible;
  }

  &__button {
    display: flex;
    column-gap: 2px;

    width: 24px;
    height: 24px;
    background-color: #fff;
    cursor: pointer;
    border: none;
    transition: transform 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__list {
    display: grid;
    row-gap: 5px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 180px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    color: #3f3f3f;
    letter-spacing: 0.25px;
  }

  &__option {
    font-size: 14px;
    color: #0009;
    letter-spacing: 0.25px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    max-width: 100%;
    min-height: 20px;
  }

  &__optionText {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }

  &__location {
    font-size: 14px;

    &-inner {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-height: 20px;
      font-size: 14px;
      letter-spacing: 0.15px;
    }

    &-error {
      min-height: 8px;
      font-size: 10px;
      color: rgb(163, 15, 15);
    }
  }
}
