.characterPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 42px;

  &__actions {
    padding-top: 42px;
    cursor: pointer;
  }

  &__link {
    display: flex;
    column-gap: 8px;
    align-items: center;
    text-decoration: none;
    font-family: Karla, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__icon {
    width: 34px;
    height: 24px;
  }

  &__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 42px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  &__image {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 5px solid #f2f2f7;
  }

  &__name {
    font-size: 48px;
    max-width: 500px;
  }

  &__info {
    display: grid;
    row-gap: 36px;
    &-title {
      font-size: 20px;
      font-weight: 500;
      color: #8e8e93;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 413px;
  }

  &__item {
    padding: 9px 16px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
    width: 100%;
  }

  &__title {
    font-weight: 700;
    color: #081f32;
    letter-spacing: 0.15px;
  }

  &__view {
    color: #6e798c;
  }
}
