.select {
  width: 240px;
  max-height: 56px;
  background-color: #fff;
  position: relative;

  &_small {
    width: 94px;
    max-height: 21px;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    width: 100%;
    border: 1px solid #393939;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    color: #00000099;
    user-select: none;
    letter-spacing: 0.25px;

    &_small {
      font-size: 14px;
      padding: 2px 5px;
      height: 21px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    transition: 0.2s all ease-in;

    &_small {
      width: 10px;
    }

    &_active {
      transform: rotate(180deg);
    }
  }

  &__list {
    position: absolute;
    top: calc(100% + 8px);
    width: 100%;
    display: grid;
    row-gap: 2px;
    border: 1px solid #393939;
    border-radius: 6px;
    z-index: 100;
    background-color: inherit;

    &_small {
      top: calc(100% + 7px);
      row-gap: 5px;
    }
  }

  &__item {
    padding: 14px;
    font-size: 16px;
    color: #00000099;
    user-select: none;
    cursor: pointer;
    width: 100%;
    padding: 10px 14px;

    &_small {
      display: flex;
      align-items: center;
      column-gap: 5px;
      padding: 5px;
      font-size: 14px;
      max-height: 17px;
    }

    &:hover,
    &:focus {
      background-color: #56c47e;
    }
  }
}
