.textInput {
  width: 240px;
  height: 56px;
  border-radius: 6px;
  padding: 16px;
  background-color: #ffffff;

  &_bordered {
    border: 1px solid #393939;
  }

  &_underlined {
    width: 178px;
    border: none;
    padding: 0;
    height: 30px;
    height: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__input {
    width: 100%;
    max-width: 176px;

    &_underlined {
      border-bottom: 0.2px solid black;
    }
  }
}
