.characters__list {
  &_error,
  &_empty {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
  }

  &_items {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
  }
}
