.loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__image {
    animation: spin 10s linear infinite;
  }

  &__text {
    font-family: Karla, sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
